@import url(/Sass/cssreload.css);
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

$Strongcyan: hsl(172, 67%, 45%);
$Verydarkcyan: hsl(183, 100%, 15%);
$Darkgrayishcyan: hsl(186, 14%, 43%);
$Grayishcyan: hsl(184, 14%, 56%);
$Lightgrayishcyan: hsl(185, 41%, 84%);
$Verylightgrayishcyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);
$font: 'Space Mono';

body{
    background-color: $Lightgrayishcyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: $font;
    p{
        color: $Grayishcyan;
    }
}

.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: $White;
    
    width: 100%;
    max-width: 500px;
    gap: 20px;
    padding: 20px;
    .titulo{
        
        color: $Grayishcyan;
        font-size: 0.7rem;
        font-weight: 700;
    }
    .porcentaje{
        display: flex;
        flex-direction: column;
        .bill{
            margin-top: 10px;
            width: 100%;
            position: relative;
            height: 35px;
            text-align: right;
            padding: 10px;
            color: $Verydarkcyan;
            font-family: $font;
            font-size: 1.2rem;
            background-color: $Verylightgrayishcyan;
            border: 0;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .img{
            position: relative;
            top: -12px;
            left: 10px;

        }
        

        .tips{
            
            margin-top: 10px;
            display: grid;
            grid-template-columns: 47% 47%;
            grid-template-rows: 1fr 1fr 1fr;
            place-content: center;
            gap: 15px;
            
            .btn{
                width: 100%;
                height: 35px;
                border-radius: 5px;
                
                background-color: $Verydarkcyan;
                color: $White;
                border: 0;
                font-family: $font;
                text-align: center;
                
                
            }

            .btn:hover{
                background-color: hsl(185, 59%, 72%);
                color: $Verydarkcyan;
                cursor: pointer;
            }

            
            

            .custom{
                background-color: $Verylightgrayishcyan;
                border: 0;
                color: $Darkgrayishcyan;
                border-radius: 5px;
                cursor: pointer;
                border-color: $Strongcyan;
                text-align: right;
                padding-right: 15px;
                font-family: $font;
                font-size: 1rem;
                
            }
            
            .active{
                width: 100%;
                background-color: $Strongcyan;
                color: $Verydarkcyan;
            }
            .btn-1, .btn-3, .btn-5{
                grid-column: 1/2;
            }
            .btn-2, .btn-4, .btn-6{
                grid-column: 2/3;
            }
            margin-bottom: 10px;
        }


    }

    .result{

        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        background-color: $Verydarkcyan;
        border-radius: 10px;
        .total-tips{
            width: 100%;    
            gap: 10px;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .total_person, .amount{
                p{
                    font-size: 0.7rem;
                    color: $White;
                    span{
                        font-size: 0.5rem;
                        color: $Grayishcyan;
                    }
                }
                
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                .p{
                    width: 40%;
                    background-color: transparent;
                    color: $Strongcyan;
                    font-family: $font;
                    font-size: 1.4rem;
                    border: 0;
                    text-align: right;
                    cursor: pointer;
                    
                }
            }
        }

        .reset{
            width: 100%;
            background-color: $Strongcyan;
            border: 0;
            border-radius: 5px;
            height: 35px;
            color: $Darkgrayishcyan;
            font-family: $font;
            text-transform: uppercase;
            color: $Verydarkcyan;
            font-size: 1rem;
            cursor: pointer;
        }

    }

}


@media screen and (min-width: 550px) {
    

    .logo{
        width: 100px;
        margin: 40px 0;
        margin-top: 60px;
    }
    .wrap{

        flex-direction: row;

        max-width: 900px;
        max-height: 600px;
        .porcentaje{
            gap: 30px;
            width: 50%;
            .tips{
                width: 100%;
                grid-template-columns: 30% 30% 30%;
                grid-template-rows: 1fr 1fr;

                .btn-1,.btn-4{
                    grid-column: 1/2;
                }
                .btn-2,.btn-5{
                    grid-column: 2/3;
                }
                .btn-3,.btn-6{
                    grid-column: 3/3;
                }
            }

        }

        .result{
            width: 50%;
            justify-content: space-between;
            .total-tips{
                gap: 30px;
            }
        }
    }


    
}

@media screen and (min-width: 660px) {

    .wrap{
    .porcentaje{
            
            .tips{
                width: 100%;
                
            }
}
    }
}

@media screen and (min-width: 800px) {

    
    .wrap{
    .porcentaje{
            
            .tips{
                width: 100%;
                
            }
}
    }
}

@media screen and (min-width: 870px) {

    .wrap{

        .titulo{
            font-size: 1rem;
        }
    .porcentaje{
            
            .tips{
                width: 100%;
                
            }
        }

    .result{

        .total-tips{
            .total_person, .amount{

                p{
                    font-size: 1rem;
                    span{
                        font-size: .7rem;
                    }
                }
                
            }
        }
    }

    }
}